mat-drawer{
  width: 300px;
  background-color:#fafafa;
  height:100%;

}

mat-drawer-content{
  display: flex;
  background-color: white;
  margin: auto;
  height: 100%;
}

mat-drawer-container{
  height:100%;
}

:host{
  height:100%;
}
